<!-- From sa16-act2, work.html.erb -->
<header>
    <h1>Some of My Works this Semester.</h1>
</header>

<p>Here is a list of selected works I have worked on during this semester:</p>

<h3 id="work1"><a href="{% url 'https://github.com/Spongehubman/sa8-act2'%}"> sa8-act2: Ruby classes</a></h3>
<p>Each of the files in this repository focuses on an aspect of Ruby classes and methods. I really liked <br>
learning how to use them.</p><br>


<h3 id="work2"><a href="{% url 'https://github.com/Spongehubman/midterm-project'%}">TDD-Based Poker Game (Midterm Project)</a></h3>
<p>This project took advantage of using the TDD development method to creating a poker game. <br>
This I really liked working on this poker gamem, and it was fun to play as well. Unfortunately, <br>
this game only properly works with "full house" and "four-of-a-kind" hands, but the prinicple is the same.</p><br>

<h3 id="work3"><a href="{% url https://github.com/Spongehubman/sa11-act2 %}"> link_to "sa11-act2: Practice Using Regular Expressions (in Ruby)", "" %></h3>
<p>This was the first of two assignments involving the use of Regular Expressions (Regex), and it <br>
really helped me in getting used to using regular expression commands in Ruby files.</p><br>

<h3 id="work4"><a href="{ url 'https://github.com/Spongehubman/sa15-act1' %}">sa15-act1: Quiz Webpage Using HTML, CSS, and JavaScript</a></h3>
<p>This project uses HTML, CSS, and JavaScript to create a quiz webpage based on material from this course. <br>
I really liked making this project, as it helped me to remember (if not learn) how to use radio button sets in <br>
which only one can be selected; it also helped me to get used to insertting text in HTML documents using JavaScript.<br>
How many questions can <i>you</i> answer correctly?</p><br>


<script>

document.getElementById("work1")

</script>
